<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <button onclick="window.location.href='/customer-home?id={{customerId}}'">Home</button>
    <h2>Your order has been placed successfully!</h2>
    <p>Food will be delivered soon!</p>
  </body>
</html>